.block-preview-3d-container {
    width: 100%;
    height: auto;
    position: relative;
    aspect-ratio: 1 / 1;
    /* background-color: #222; */ /* Optional background for the canvas area */
    border-radius: 4px;
    border: 1px solid #444;
    background-color: rgba(54, 54, 54, 1);
}

.block-preview-3d-container canvas {
    display: block; /* Remove extra space below canvas */
}

.block-preview-label-container {
    position: absolute;
    width: 100%;
    color: rgb(122, 122, 122);
    bottom: 0;
}

